# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\soheil\Scientific stuf\Java\maktab-sharif\پروژه های زده شده\جلسه سی ام\Hibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
